<!-- sidebar.component.html -->
<!-- routerLinkActive="active" -->
<aside class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
    <div class="sidebar-heading">
      <div class="heading">Employee </div>
    </div>
  
    <ul class="nav flex-column justify-content-center list-sidebar">
      <li class="nav-item pointer ml-2 mr-2 " *ngFor="let item of sidebarItems">
        <div
          class="nav-link sidebar-item p-3 rounded nav-elemet"
        
          [routerLink]="item.route"
        >
        <i [class]="item.icon" style="font-size: 1rem"></i>

          <div class="heading-text">{{ item.name }}</div>
        </div>
      </li>
    </ul>
    <button class="collapse-btn" (click)="toggleCollapse()">
    </button>
  </aside>
  