<form class="form-container" [formGroup]="employeeCreateForm"  (ngSubmit)="createEmployee()">
    <div class="form-sub-container">
        <h2>Create Employee</h2>
        <div class="form-group ">
            <label for="employeeName" style="color: grey;">Employee Name</label>
            <input formControlName="EMPLOYEE_NAME" type="text" class="form-control" id="employeeName" aria-describedby="employeeName" placeholder="Enter Name">
            <div *ngIf="nameControl.touched">
                <div style="color: red;" *ngIf="nameControl.errors?.['required']">Name is required.</div>
              </div>
          </div>
          <div class="form-group ">
            <label for="employeeEmail" style="color: grey;">Employee Email</label>
            <input formControlName="EMAIL" type="email" class="form-control" id="employeeEmail" aria-describedby="employeeEmail" placeholder="Enter Email">
            <div *ngIf="emailControl.touched">
                <div style="color: red;" *ngIf="emailControl.errors?.['required']">Email is required.</div>
                <div  style="color: red;" *ngIf="emailControl.errors?.['email']">Invalid email format.</div>
                <div  style="color: red;" *ngIf="emailControl.errors?.['pattern']">Invalid email pattern.</div>
              </div>
          </div>
          <div class="form-group ">
            <label for="employeeContact" style="color: grey;">Contact Number</label>
            <input formControlName="CONTACT_NO" type="text" class="form-control" id="employeeContact" aria-describedby="employeeContact" placeholder="Enter Contact Number">
            <div *ngIf="contactControl.touched">
                <div style="color: red;" *ngIf="contactControl.errors?.['required']">Contact Number is required.</div>
                <div  style="color: red;" *ngIf="contactControl.errors?.['minlength']">Contact Number should contain atleast 10 digits.</div>
              </div>
        </div>
          <div class="form-group ">
            <label for="address" style="color: grey;">Address</label>
            <textarea  formControlName="ADDRESS" class="form-control" id="address" rows="2" aria-describedby="address" placeholder="Enter address of the employee"></textarea>
            <div *ngIf="addressControl.touched">
                <div style="color: red;" *ngIf="addressControl.errors?.['required']">Address is required.</div>
              </div>
        </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
   </form>

