<div class="bodyfull" >
    <div class="left-section">
        <div class="header">
            <div class="header_text">
                Angular Task           
            </div>
        </div>
    </div>
    
    <div class="right-section">
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onLogin()">
            <h3>Login</h3>
            <div class="input-container">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" formControlName="username" class="form-control input-login" id="exampleInputusername" aria-describedby="usernameHelp" placeholder="Enter username">
                <div *ngIf="userNameControl.touched">
                  <div style="color: red;" *ngIf="userNameControl.errors?.['required']">Username is required.</div>
                
                </div>
              </div>
              
              <div class="input-container" style="position: relative;">
                <label for="passwordInput">Password</label>
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control input-login" id="passwordInput" placeholder="Enter Password">
                <i class="bi bi-eye" id="togglePassword" style="position: absolute; top: 50%; right: 10px; cursor: pointer;" (click)="togglePasswordVisibility()"></i>
                <div *ngIf="passwordControl.touched">
                  <div   style="color: red;" *ngIf="passwordControl.errors?.['required']">Password is required.</div>
                  <div  style="color: red;" *ngIf="passwordControl.errors?.['minlength']">Password must be at least 4 characters.</div>
                  <div style="color: red;" *ngIf="passwordControl.errors?.['maxlength']">Password cannot be more than 15 characters.</div>
                </div>
              </div>
                                   
                <button type="submit" class="btn button-submit label-login">Login</button>
    </form>
    </div>
</div>
<p-toast />
